body{
	background: #B4C6C6;
}

.main{
	text-align: center
}

.label-sel{
	left: calc(50% - 86px);
	position: relative;
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
}

.selector{
	position: relative;
	left: calc(50% - 88px);
	position: relative;
	left: calc(50% - 88px);
	padding: 1px 0px 1px 4px;
	font-size: 14px;
	text-shadow: 0 1px white;
	background: rgba(0, 0, 0, 0);
	margin-right: 30px;
}

.title{
	color: black;
	top: 10px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 0px 2px 0px white;
}

.options{
	background: linear-gradient(to bottom, #F4FAFA, #CDD7D7 100%);
	width: 218px;
	height: 464px;
	padding-top: 30px;
	border-radius: 6px;
	display: inline-block;
	vertical-align: top;
}

.options button{
	border: 0px;
	width: 175px;
	height: 53px;
	background: linear-gradient(to bottom, #92AD5C, #BACF8E 100%);
	border-radius: 6px;
	font-weight: bold;
	color: black;
	font-size: 20px;
	box-shadow: rgb(0, 0, 0) 0px 0px 9px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

.options button:hover {
	background: linear-gradient(to bottom, #BACF8E, #92AD5C 100%);
}

.main-playground{
	display: inline-block;
	padding-right: 22px;
	padding-left: 27px;
	padding-top: 30px;
	height: 464px;
	background: linear-gradient(to bottom, #F4FAFA, #CDD7D7 100%);
	border-radius: 6px;
}

.row{
	height: 27px;
	margin-top: 12px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.row-number{
	display:inline-block;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	color: #7F3939;
	width: 17px;
	line-height: 27px;
	vertical-align: top;
	margin-right: 6px;
	margin-top: 3px;
}

.code-peg-group{
	display: inline-block;
	padding: 2px;
	margin-right: 10px;
}

.code-peg-group.active{
	border: solid red 1px;	
}

.code-peg{
	display: inline-block;
	width: 25px;
	height: 25px;
	border: solid #660066 1px;
	border-radius: 22px;
	margin: 2px;
	background: #D75252;
}

.guess{
	margin-left: 27px;
	margin-bottom: 26px;
	text-align: start;
}

.guess .code-peg{
	text-align: center;
	font-size: 20px;
	color: black;
}


.key-peg-group{
	vertical-align: middle;
	display: inline-block;
	height: 27px;
	margin-bottom: 6px;
}

.key-peg{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: solid #660066 1px;
	background-color: #BA6363;
	border-radius: 8px;
	margin: 2px;
}

.check-button{
	border: 0px solid #96d1f8;
	width: 55px;
	height: 25px;
	position: relative;
	bottom: 7px;
	font-size: 13px;
	font-weight: bold;
	color: black;
	margin-left: 6px;
	margin-top: 1px;
	display: inline-block;
	visibility: hidden;
	background-image: linear-gradient(to bottom, #92AD5C,#BACF8E 100%);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 6px;
	vertical-align: middle;
	box-shadow: rgb(0, 0, 0) 0px 0px 9px;
}
.check-button:hover {
	background-image: linear-gradient(to bottom, #BACF8E, #92AD5C 100%);
}

.check-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.check-button.active{
	visibility: visible;
}

.color0{
	background: radial-gradient(circle 23px at 12px 5px, #FF0000, #000);
	width: 27px;
	height: 27px;
	margin: 1px;
}

.color1{
	background: radial-gradient(circle 23px at 12px 5px, #00FF00, #000);
	width: 27px;
	height: 27px;
	margin: 1px;
}

.color2{
	background: radial-gradient(circle 23px at 12px 5px, #0064FF, #000);
	width: 27px;
	height: 27px;
	margin: 1px;
}

.color3{
	background: radial-gradient(circle 23px at 12px 5px, #FFFF00, #000);
	width: 27px;
	height: 27px;
	margin: 1px;
}

.color4{
	background: radial-gradient(circle 23px at 12px 5px, #FF00FF, #000);
	width: 27px;
	height: 27px;
	margin: 1px;
}

.color5{
	background: radial-gradient(circle 23px at 12px 5px, #1AEEDD, #000);
	width: 27px;
	height: 27px;
	margin: 1px;
}

.black{
	width: 12px;
	height: 12px;
	margin: 1px;
	background: radial-gradient(circle 6px at 5px 3px, #3F4443, black);
}

.white{
	width: 12px;
	height: 12px;
	margin: 1px;
	background-color:white;
}

.dialog{
	display: none;
	top: 40%;
	left: 23%;
	padding: 15px;
	background-color: #FFE9E9;
	position: absolute;
	border-radius: 6px;
	box-shadow: 0px 0px 50px black;
	z-index: 100;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding: 27px;
	border: 2px solid black;
}

.how-to-play{
	top: 10%;
	font-size: 19px;
	width: 440px;
	text-align: left;
}


.dialog button{
	border: 0px;
	width: 140px;
	height: 45px;
	background-image: linear-gradient(to bottom, #92AD5C, #BACF8E 100%);
	padding: 4.5px 19px;
	border-radius: 6px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	box-shadow: rgb(0, 0, 0) 0px 0px 9px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 20px;
}

.dialogCover{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
    top: 0;
    left: 0;
	display: none;
}

@-webkit-keyframes pulse-border {
    from, to { box-shadow: 0 0 0 0 red;}
    50% { box-shadow: 0 0 0 3px red; }
}
.blink{
	-webkit-animation: pulse-border 0.15s linear 0s 5 alternate;
	animation: pulse-border 0.15s linear 0s 5 alternate;
}

.message{
	margin-top: 34px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 20px;
	color: red;
}






   
